.board{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  height: 620px;
  width: 800px;
}
#piece{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  

}
.piece{
  display: flex;
  align-items: center;
  justify-content: center;

}

